/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111;
	--color-background:white;
	--color-button:#ffbc0d;
	--color-button-hover: darkgreen;
	--color-buttontext: black;
	--button-padding: 1.2em 2em;
	--button-border-raduis: 0.25em;
}

/*********************/
/* Standaar styling */
/*********************/

body {
	background-color: var(--color-background);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
	position: sticky;
	top: 0;
	background-color: white;

}

button { 
	background-color: var(--color-button);
	color: var(--color-buttontext);
	padding: var(--button-padding);
	text-align: center;
	border-radius: var(--button-border-raduis);
	border: none;
	min-height: 3rem;
    min-width: 9rem;
	padding: 0.8125rem 1.5625rem;
    display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

iframe {
	width: 100%;
	height: 12em;
}

input {
	width: 100%	;
	height: 3em;
	border-radius: 1em;
	color: var(--color-text);
}

img {
	width: 100%;
    height: 100%;
}

section {
	margin-top: 4.5em;
}

ul { 
	list-style: none;
}

li { padding: 1em;}

a { 
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
	padding-top: 1em;
}

body main nav:nth-of-type(2) {
	background-color: red;
}

/* Tekst styling */

h1 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.5em;
	line-height: 1.5em;
	color: var(--color-text);
}
	

h2 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.25em;
    line-height: 1.5em;
	color: var(--color-text);
}

h3 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1em;
    line-height: 1.5em;
	color: var(--color-text);
}

h4  {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 2em;
    line-height: 1em;
	color: var(--color-text);
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;	
	display: block;
	font-size: .8em;
	color: var(--color-text);
}

/* extra styling dingen */

details  summary{ 
	list-style: none;
	cursor: pointer;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1em;
	margin-top: 2em;
	position: relative;
	color: var(--color-text);
}

details summary::after {
	content: "+";
	position: absolute;
	right: 0;
	color: var(--color-text);
}

/*Header navigatie styling */

header nav:first-of-type {
	display: flex;
	width: 100%;
}

header nav img:first-of-type {
	width: 3em;
    height: 3em;
    vertical-align: middle;
}

header nav ul{
	position: fixed;
	right: 50%;
	left: 50%;
	transform: translateY(-120%);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color-text);
	
}

header nav ul.menuOpen{
	transform: translateY(0) translateX(-50%);
	background-color: darkgreen;
	width: 100%;
	height: 100%;
	z-index: 100;
}

header nav ul.menuOpen li a{
	color: white;
	font-size: 1.3em;
}

header nav ul.menuOpen li a.active{
	color:#ffbc0d;
}

header nav ul li a:hover{
	color: rgba(29, 151, 200);
}

header nav button{
	color: var(--color-buttontext);
	background-color: white;
	text-align: center;
	width: 1em;
	height: 1em;	
	padding: 0;
}

/* tijdelijk, voor overzicht ---- NIET VERGETEN WEER AAN TE ZETTEN */ /* Waarschijnlijk gaat het toch niet lukken dus hou ik het uit
header nav:nth-of-type(2) ul {
	display: none;
}
*/ 

/*********************/
/* Styling specefiek voor Mainpage */
/*********************/

.mainpage main section h3 {
	margin-left: 1em;
}

.mainpage main section:nth-of-type(7) p, .mainpage main section:nth-of-type(8) p{
	margin-left: 1em;
	margin-right: 1em;
}

.mainpage main section:nth-of-type(7) button, main section:nth-of-type(8) button{
	margin-left: 1em;
}

.mainpage main section:nth-of-type(7) {
	outline-color: light grey;
	outline-width: 1em;
	outline: auto;
	padding-bottom: 1em;
}
   
.mainpage main section:nth-of-type(8) {
	outline-color: light grey;
	outline-width: 1em;
    outline: auto;
	padding-bottom: 1em;
}
   
.mainpage main button:nth-of-type(7) {
	   margin-left: 1em;
}

/*********************/
/* Styling specefiek voor apppage */
/*********************/

/* buttons play store stylen */

.apppage main section:nth-of-type(1) nav {
	display: flex;
	justify-content: row;
	gap: 1em;
	margin-top: -3em;
}

.apppage main section:nth-of-type(1) nav a:nth-last-of-type(1) img{
	height: 8em;
	width: 8em;
	filter: invert(1);
}

.apppage main section:nth-of-type(1) nav a:nth-last-of-type(2) img{
	height: 8em;
	width: 8em;
	filter: invert(1);
}


/* Youtube video's */

.apppage main section:nth-of-type(8) , .apppage main section:nth-of-type(9) {
	text-align: center;
}

.apppage main section:nth-of-type(10), .apppage main section:nth-of-type(11) {
	outline-width: 1em;
	outline: auto;
	padding-bottom: 1em;
}

.apppage main section:nth-of-type(10) p, .apppage main section:nth-of-type(11) p {
	margin-left: 1em;
}

.apppage main section:nth-of-type(10) h2, .apppage main section:nth-of-type(11) h2 {
	margin-left: .7em;
}

/* vraagbalken */

.apppage main section:nth-of-type(12) input {
	border: none;
	border-radius: 0%;
	border-bottom: 2px solid black;
	background-image: url('../images/search.svg') ;
	background-size: 2em;
	background-position: 35em;;
	background-repeat: no-repeat;
}

.apppage main section:nth-of-type(14), .apppage main section:nth-of-type(15) {
	outline-width: 1em;
	outline: auto;
	margin-right: 12em;
	padding: 2em;
}

.apppage main section:nth-of-type(13) button{
	background-color: transparent;
	color: var(--color-buttontext);
	outline: auto;
	margin-left: 35%;
}

.apppage main section:nth-of-type(16) button{
	background-color: transparent;
	color: var(--color-buttontext);
	outline: auto;
	margin-left: 35%;
	margin-bottom: 3em;
}



.apppage main section:nth-of-type(14) h2, .apppage main section:nth-of-type(15) h2 {
	line-height: 1em; 	
	font-size: 1.5em;
}

.apppage main section:nth-of-type(14) a, .apppage main section:nth-of-type(15) a {
 text-decoration: underline;
 color: rgba(29, 151, 200);
}

/* download de app store en play store sections */

.apppage main section:nth-of-type(17), .apppage main section:nth-of-type(18) {
	outline-width: 1em;
	padding: 2em;
	box-shadow: gray .1em .1em .3em;
	margin-top: 1em;
	border-radius: .2em;
}

.apppage main section:nth-of-type(17) h2, .apppage main section:nth-of-type(18) h2 {
	font-size: 2em;
	margin-top: .3em;
	margin-bottom: -.1em;
}

.apppage main section:nth-of-type(17) button, .apppage main section:nth-of-type(18)  button {
	margin-top: 1em;
}
   
   
/* states */   

button:hover {
	animation-name: ButtonKleurVeranderen;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}


button:focus {
	outline: none;
	box-shadow: 0 0 0 5px lightblue;
}

button:active {
	background-color: #111;
	border-color: #333;
	color: #eee;
} 

/*footer*/

footer a{
	color: var(--color-text);
}

footer nav:first-of-type{
display: flex;
flex-direction: row;
justify-content: center;
gap:1rem;
}

footer nav:first-of-type a{
	display: grid;
	place-content: center;
	border-radius: 100%;
	overflow: hidden;
	width: 2.5em;
	height: 2.5em;
	border: 2px solid var(--color-text);
	padding-top: 0;
	padding: .5rem;
	margin-top: 3em;
	margin-bottom: 2em;
}

footer nav:first-of-type a img {
	filter: grayscale(100%);
	height: 100%;
}

.disclaimer { 
	display: flex;
	justify-content: center;
	color: var(--color-text);
}

main + footer section:nth-of-type(2) {
	display: flex;
	justify-content: center;
	margin-top: 2em;
}

main + footer section img {
	height: 3em;
	width: 3em;
}

main + footer section:nth-of-type(1) {
	margin-top: 0.2em;
	display: flex;
	justify-content: space-around;
	color: var(--color-text);
}

/* animaties */

@keyframes ButtonKleurVeranderen {
	0% { background-color: var(--color-button);}
	100% { background-color: var(--color-button-hover);}
	0% { color: var(--color-text);}
	100% {color: white;}
}

/* Dark mode*/

@media (prefers-color-scheme: dark) {
:root{ 
	--color-text: white;
	--color-background: #202020;
	--color-button: rgb(153, 131, 8);
	--color-buttontext: white;	
}	
}





