/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--color-button:#ffbc0d;
	--color-buttontext: black;
	--button-padding: 1.2em 2em;
	--button-border-raduis: 0.25em;
}

button { 
	background-color: var(--color-button);
	color: var(--color-buttontext);
	padding: var(--button-padding);
	text-align: center;
	border-radius: var(--button-border-raduis);
	border: none;
	min-height: 3rem;
    min-width: 9rem;
	padding: 0.8125rem 1.5625rem;
    display: inline-block;
	text-decoration: none;
	}

h2 {
	font-size: 1.25em;
    line-height: 1.5em;
}

p {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

img {
	width: 100%;
    height: 100%;
	object-fit: contain;
    position: relative;
    top: 0;
	vertical-align: middle;
	border-style: none;
}

nav img {
	max-width: 3pc;
    max-height: 3pc;
    vertical-align: middle;
}

section {
	margin-top: 4.5em;
}







/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

